.mainPage {
  height: 100%;
  min-height: 120vh;
  background-image: linear-gradient(to bottom right, #4fb576 0%, #44c489 30%, #28a9ae 46%, #28a2b7 59%, #4c7788 71%, #6c4f63 86%, #432c39 100%);
}

.cardPosition {
  padding: 50px;
}

.contentPosition {
  margin: 50px;
}